{% extends 'beweb/layout.html' %} {% block content %}
<div class="container">
    <hr />
    <div class="alert alert-primary text-center shadow-lg" role="alert">
        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        <p class="alert text-center">
            If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        </p>
    </div>

</div>


{% endblock %}