<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <input
        type="text"
        name="message"
        placeholder="Enter your message here"
        id="message"
      />
      <button onClick="sendMsg(event)">submit</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io("http://localhost:8080");

      function sendMsg(e) {
        e.preventDefault();
        client_msg = document.getElementById("message").value;
        socket.emit("message", client_msg);
      }

      socket.on("message", function(data) {
        console.log(data);
      });
    </script>
  </body>
</html>
