{% extends "beweb/layout.html" %} {% load i18n%} {% block content %} {% if user.is_authenticated %}


<div class="container">
    <h2 class="text-center font-weight-bold">JOB</h2>
    <form action="/beweb/addjob/" id="job_workorder" method="GET">
        <div class="row form-group">
            <div class="col-sm-4">
                <label class="font-weight-bold col-xs-3 col-form-label" style="padding-left: 50px;">WORK ORDER
                    NUMBER</label>
            </div>
            <div class="col-sm-4">
                <label class="font-weight-bold col-xs-3 col-form-label" style="padding-left: 50px;">JOB NUMBER</label>
            </div>
            <div class="col-sm-4">
                <label class="font-weight-bold col-xs-3 col-form-label" style="padding-left: 50px;">TYPE
                </label>
            </div>
        </div>
        

        <div class="row form-group">
            <div class="col-sm-4">
                <input type="text" class="form-control " name="workorder" value="{{wo}}" readonly />
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="job_number" id="job_number" value="{{job_id}}" readonly />
            </div>
            <div class="col-sm-4">
                <select name="jobtype" id="jobtype" type="text" class="form-control" placeholder="Please Select Type"
                    onclick="replaceContentInContainer('client','descrip')" required>
                    <option value="" disabled selected>Select Type</option>
                    {% for jptype in jobtp%}
                    <option value="{{jptype.job_type_id}}">
                        {{jptype.type}}
                    </option>
                    {% endfor%}
                </select>
            </div>
        </div>
    </form>
</div>
<script>
    $('#jobtype').change(function (){
        $('#job_workorder').submit();
    }); 
</script>
 {% endif %}
{% endblock %}
